body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: seashell;
    opacity: .7;
    margin: 0;
}

 
 /* Display inline-flex to make it a straight line, space between to make them opposite 
 sides from one another, add width to take up the whole page, add fixed position so it
  can scroll whereever it needs to and a opacity to make it look at little more stylish 
  with a z index to be above everything so you can still access the links, since the 
  mission container was overlapping it and not allowing you to click on them*/
header {  
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell; 
    background-color: black;
    width: 100%;
    position: fixed;
    opacity: .9;
    z-index: 1;
}
.logo {
    padding-left: 35px;   
}
ul{ /* makes the list items inside one line and not stacking on top of each other. add 
    justify content and  */
    display: inline-flex;
    justify-content: space-evenly;
    
    width: 600px;
}

li { /* Removes the bullet points from the list */
    list-style: none;
}
 
a{ /* Removes the link underline from Nav items */
    text-decoration: none;
    color: gray;
    font-size: 2em;
    padding: 15px;
 
}

/* -------- HEADER  -----------*/



/* Display flex so we can use align items center and justify-content center of the page, */
.mission-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
/* adds just dimensions to the image with a margin top to make it beneath the header */
.mission-image {
    width: 1200px;
    height: 700px;
    margin-top: 150px;
 }
/* makes the position absolute so we can make it centered in the image tag, with is 80% not 100%
  because 100% width makes the page larger than it should, more htan likely due to margin and or padding some where
  opacity to make it look a little more cleaner, and a center text, then a top to make the text where we want it for the image, 
  decided not to center it because of looks
  */
.mission-span {
    position: absolute;
    background-color: black;
    color: gray;
    width: 80%;
    opacity: .9;     
    align-items: center;
    top: 70%;
}
h2 {  /*changes font size, adds margin 4 on all areas, and makes in centered in its block,    */
    text-align: center;
    font-size: 2.5em;
    margin: 4px   ;
}
h4{  /*changes font size, adds margin 4 on all areas, and makes in centered in its block   */
    text-align: center;
    margin: 4px   ;
    font-size: 1.5em;
}
/* -------- mission-container -----------*/

.tea-container{
    align-items: center;
    display: flex;
    justify-content: center;
}
/* space-evenly and wrap so the pictures have space around each other and go on the line beneath
inline flex so they stay in the same line and dont take up five lines, the center is explanatory as is position
 */
.tea-month {
    height: 700px;
    width: 1000px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main-img {
    width: 300px;
    height: 200px;
}
/* I used wrap to make them go on seperate lines since I used inline flex, but I may have been able to do just flex 
and use the block instead  */
.title{ 
    display: inline-flex;
    flex-wrap: wrap;     
    text-align: center;
    justify-content: center;
    width: 100%;
}
/* wanted a little bit more space for the title so added a padding , and the width 100% of the container that it is in */
.title h2 {
    
    width: 100%;
    padding-bottom: 20px;
}
/* Use figcaption to add a caption beneath a picture  */
 figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
 }



/* -------- Locations-container -----------*/
/* We made it flex, then used justify content to center it in the page,  */
.locations-container { 
    display: flex;
    border: 1px solid red;
    justify-content: center;
}
/* we used z index to make sure it displayed over the image then used display flex and position absolute so we 
could place it on top of the image, we then gave it 100% width and height so it could take up the entire of the container
and then used justify content center to make it in the center of the image and used align-items center to make it center
vertically  */
.locations-span {
    z-index: 1;
    width: 1200px;
    height: 700px;
    display: inline-flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    position: absolute;
}
/* dimensions for the image  */
.locations-image {
    height: 700px;
    width: 1200px;
}
 
/* I used display column and I also used <br> in the html to force break the line but by making it a column I no longer needed
the <br> anymore,  */
.locations-span div {
    border: 1px solid red;
    background-color: black;
    margin: 15px 20px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    opacity: .8;
    font-size: 1.2em;
    z-index: 1;
    
}
/* I want to make the locations title inside the div so I can sit it 15px above the text but I am as of the moment, 
unware how to do that.  */
.locations-title  {
    display: flex;
    position: absolute;
    top: 1700px;
    opacity: .8;
    z-index: 1;
    font-size: 3em;
}  
